{{#if @version.yanked}}
  <button
    type="button"
    local-class="{{this.localClass}}"
    ...attributes
    data-test-version-unyank-button={{@version.num}}
    disabled={{@version.unyankTask.isRunning}}
    {{on "click" (perform @version.unyankTask)}}
  >
    {{#if @version.unyankTask.isRunning }}
       Unyanking...
    {{else}}
       Unyank
    {{/if}}
  </button>
{{else}}
  <button
    type="button"
    local-class="{{this.localClass}}"
    ...attributes
    data-test-version-yank-button={{@version.num}}
    disabled={{@version.yankTask.isRunning}}
    {{on "click" this.openYankModal}}
  >
    {{#if @version.yankTask.isRunning }}
       Yanking...
    {{else}}
       Yank
    {{/if}}
  </button>
{{/if}}

{{#if this.isYankModalOpen}}
  <Modal @title="Yank Version" @close={{this.closeYankModal}}>
    <form {{on "submit" this.submitYank}}>
      <label for="yank-message">Yank Message (optional):</label>
      <textarea id="yank-message" {{on "input" this.updateYankMessage}}></textarea>
      <button type="submit" disabled={{@version.yankTask.isRunning}}>
        {{#if @version.yankTask.isRunning}}
          Yanking...
        {{else}}
          Confirm Yank
        {{/if}}
      </button>
    </form>
  </Modal>
{{/if}}
